node_modules/
server/node_modules/

dist/
build/


server/serviceAccountKey.json
server/.env
server/.env.*


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
.idea/
.npm
.eslintcache
.vscode/*
!.vscode/extensions.json